<div class="text-input {{this.className}}">
    <label for="{{this.name}}" class="text-input__label">{{this.label}}</label>
    <input type="{{this.type}}"
           id="{{this.name}}"
           name="{{this.name}}"
           class="text-input__input"
           value="{{this.value}}"
        {{#if this.disabled}}disabled{{/if}}
        {{#if this.placeholder}}placeholder="{{this.placeholder}}"{{/if}}>
    {{#if this.error}}
        <span class="text-input__error">{{this.error}}</span>
    {{/if}}
</div>
