<div class="text-input">
    <label for="{{name}}" class="text-input__label">{{label}}</label>
    <input type="{{default type 'text'}}"
           id="{{name}}"
           name="{{name}}"
           class="text-input__input"
           value="{{value}}"
        {{inputAttributes}}>
</div>
