<div class="home-page">
    <section class="home-page__left">
        <div class="home-page__left-header">
            {{{ this.profileLink }}}
            {{{ this.searchInput }}}
        </div>
        <div class="home-page__create-chat">
            {{{ this.createChatButton }}}
        </div>
        {{{ this.chatList }}}
    </section>
    {{{ this.createChatModal }}}

    <section class="home-page__main">
        {{{ this.chatContent }}}
    </section>
</div>
