<div class="home-page">
    <section class="home-page__left">
        <div class="home-page__left-header">
            {{{ this.profileLink }}}
            {{{ this.searchInput }}}
        </div>
        {{{ this.chatList }}}
    </section>

    <section class="home-page__main">
        <div class="chat-view">
            <header class="chat-view__header">
                {{{ this.chatHeader }}}
                {{{ this.menuButton }}}
            </header>
            <div class="chat-view__feed">
                {{{ this.messageFeed }}}
            </div>
            <footer class="chat-view__footer">
                {{{ this.messageForm }}}
            </footer>
        </div>
    </section>
</div>
