<div class="profile-layout">
    <section class="profile-layout__left">
        {{{ backPanel }}}
    </section>
    <section class="profile-layout__main">
        <div class="central-wrapper">
            <div class="profile-page">
                <section class="profile-page__fields">
                    {{{ profileForm }}}
                </section>
                <section class="profile-page__buttons">
                    {{#each profileButtons}}
                        {{{ this }}}
                    {{else}}
                        {{{ profileButtons }}}
                    {{/each}}
                </section>
            </div>
        </div>
    </section>
</div>
